<html>
<head>
</head>
<body>
Esto será una zona no segura
| <a href="{{ path('seguridad_entrar') }}">Entrar</a>
| <a href="{{ path('seguridad_zonaprotegida') }}">Privada</a>
<br>
<br>


</body>
</html>
