<html>
<head>
</head>
<body>
Zona protegida
| <a href="{{ path('seguridad_entrar') }}">Entrar</a>
| <a href="{{ path('seguridad_salir') }}">Salir</a>
| <a href="{{ path('seguridad_homepage') }}">Publica</a>
<br>
<br>

</body>
</html>
